#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gen {
  display: flex;
  gap: 4em;
  justify-content: center;
}

.h2 {
  margin-bottom: 5rem;
}

.select {
  width: 15vw;
  height: 5vh;
  font-size: large;
  margin-left: auto;
}

.btn {
  background-color: royalblue;
}

.btn:focus {
  background-color: rgb(9, 163, 9);
}

.newbtn {
  display: flex;
  gap: 10px;
  margin-top: 2em;
}

.info {
  margin-bottom: 1em;
}

.detail {
  width: 20vw;
  height: 5vh;
  font-size: large;
  margin-left: auto;
}

.bg {
  background-color: rgb(252, 252, 252);
  color: #000;
}
